<div class="nav-container">
    <a id="top"></a>
    <nav>
        <div class="nav-bar">
            <div class="module left">
                <a href="{{ site.url }}">
                    <img class="logo logo-light" alt="{{ site.title | escape }}" src="{{ site.url | relative_url }}/img/logo-light.png" />
                    <img class="logo logo-dark" alt="{{ site.title | escape }}"  src="{{ site.url | relative_url }}/img/logo-dark.png"  />
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        {% for item in site.data.menu %}
                        <li><a href="{{ item.url | relative_url }}">{{ item.title | escape }}</a> </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--end of menu module-->
            </div>
            <!--end of module group-->
        </div>
    </nav>
</div>
       