<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'fr' }}">

{% include head.html %}

<body class="scroll-assist">

{% include header.html %}

<div class="main-container">
    {{ content }}
    {% include footer.html %}
</div>


<script src="{{ site.url }}/js/jquery.min.js"></script>
<script src="{{ site.url }}/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/js/flickr.js"></script>
<script src="{{ site.url }}/js/flexslider.min.js"></script>
<script src="{{ site.url }}/js/lightbox.min.js"></script>
<script src="{{ site.url }}/js/smooth-scroll.min.js"></script>
<script src="{{ site.url }}/js/jquery.sparkline.retina.js"></script>
<script src="{{ site.url }}/js/parallax.js"></script>
<script src="{{ site.url }}/js/scripts.js"></script>
<script src="{{ site.url }}/js/main.js"></script>

</body>

</html>