<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'fr' }}">

{% include head.html %}

<body class="scroll-assist">

{% include header.html %}

<div class="main-container">
    {{ content }}
    {% include footer.html %}
</div>


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/flickr.js"></script>
<script src="/js/flexslider.min.js"></script>
<script src="/js/lightbox.min.js"></script>
<script src="/js/smooth-scroll.min.js"></script>
<script src="/js/jquery.sparkline.retina.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/main.js"></script>

</body>

</html>