---
layout : default
---
<section class="fullscreen cover parallax image-bg overlay">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="{{ site.url }}/img/intro-bg.jpg"/>
    </div>

    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mb16"><span class="largecustom">{{ site.title | escape }}</span>,
                    <br class="hidden-sm" /> {{ site.slogan | escape }}.</h1>
                <h6 class="uppercase mb32">Simplifions au maximum la création de logiciels.</h6>

                <br>
                <div class="bottom-arrow">
                   <a class="next-section-arrow"  href="#head"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="pb5" id="head">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2>Transparence, Excellence, Disponibilité, Simplicité.</h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 text-center mb80 mb-xs-24">
                <h6 class="uppercase fade-1-4">How we'll work together</h6>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="feature">
                    <div id="firststep" ></div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="feature">
                    <div id="secondstep" ></div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="feature">
                    <div id="thirdstep" ></div>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

