---
layout : default
---

<section class="fullscreen cover parallax image-bg overlay">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="{{ site.url }}/img/intro-bg.jpg"/>
    </div>

    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mb16"><span class="largecustom">{{ site.title | escape }}</span>,
                    <br class="hidden-sm" /> {{ site.slogan | escape }}.</h1>
                <h6 class="uppercase mb32">Simplifions au maximum la création de logiciels.</h6>

                <br>
                <div class="bottom-arrow">
                   <a class="next-section-arrow"  href="#head"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="image-edge pb0">
    <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
        <img alt="Screenshot" class="mb-xs-24" src="img/phone2.png" />
    </div>
    <div class="container">
        <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
            <h3 class="mb64 mb-xs-24">{{ site.our_values | escape }}.</h3>
            <div class="feature feature-3">
                <div class="left">
                    <i class="ti-gallery icon-sm"></i>
                </div>
                <div class="right">
                    <h5 class="uppercase mb16">2016</h5>
                    <p>
                        Crée en 2016, Botilab est le fruit de l’association de consultants expérimentés et
                        passionnés ayant décidé de moderniser l’approche du développement de logiciels de la gestion de
                        projet à la livraison.
                    </p>
                </div>
            </div>
            <!--end of feature-->
            <div class="feature feature-3">
                <div class="left">
                    <i class="ti-layers icon-sm"></i>
                </div>
                <div class="right">
                    <h5 class="uppercase mb16">Lab</h5>
                    <p>

                    </p>
                </div>
            </div>
            <!--end of feature-->
        </div>
    </div>
    <!--end of container-->
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="mb64 mb-xs-32">How we'll work together</h4>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <div class="text-center">
                        <div class="mb8" id="firststep"></div>
                        <h5 class="uppercase mb16">Parlons de votre projet</h5>
                    </div>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                    </p>
                </div>
                <!--end of feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <div class="text-center">
                        <div  class="mb8" id="secondstep"></div>
                        <h5 class="uppercase mb16">Au travail</h5>
                    </div>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                    </p>
                </div>
                <!--end of feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <div class="text-center">
                        <div id="thirdstep" class="mb8"></div>
                        <h5 class="uppercase mb16">A vos marques</h5>
                    </div>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                    </p>
                </div>
                <!--end of feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section>
    <div class="container">
        <div class="row mb64 mb-xs-24">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                <h4>Our Expertise</h4>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 mb40 mb-xs-24">
                <i class="ti-layers icon inline-block mb16 fade-3-4"></i>
                <h4>Développement</h4>
                <p>
                    With a plethora of purpose-built content blocks, colors and fonts, Foundry presents a mind-boggling number of combinations. Test drive the builder now!
                </p>
            </div>
            <div class="col-md-5 col-sm-6 mb40 mb-xs-24">
                <i class="ti-harddrives icon inline-block mb16 fade-3-4" ></i>
                <h4>Hébergement</h4>
                <p>
                    We've built a buttery smooth parallax scrolling experience with a heavy focus on performance. Extensively tested across a range of browser and mouse types.
                </p>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-6 mb40 mb-xs-24">
                <i class="ti-package icon inline-block mb16 fade-3-4"></i>
                <h4>Conseil</h4>
                <p>
                    10 Fresh and unique concepts included out of the box. From portfolio to property showcase, Foundry's adaptable look is perfect for your next project.
                </p>
            </div>
            <div class="col-md-5 col-sm-6 mb40 mb-xs-24">
                <i class="ti-infinite icon inline-block mb16 fade-3-4"></i>
                <h4>Formations</h4>
                <p>
                    With over 100 pre-made HTML templates included, it's easier than ever to find a look that suits you. If not, just create your own with Variant Page Builder!
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="pt40 pb40">
    <div class="container">
        <div class="row mb64 mb-xs-24">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                <h4>Botilab Products</h4>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="image-bg bg-dark parallax overlay pt120 pb120">
    <div class="background-image-holder">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb8">Digitimmo</h2>
                <p class="lead mb40">A brief description of the project.</p>
                <a class="btn btn-lg btn-white mb0" href="#">Open Project</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="image-bg bg-dark parallax overlay pt120 pb120">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="img/project-single-6.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb8">IlliConstat</h2>
                <p class="lead mb40">A brief description of the project.</p>
                <a class="btn btn-lg btn-white mb0" href="#">Open Project</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="bg-secondary">
    <div class="container">
        <div class="row mb64 mb-xs-24">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                <h4>Latest Posts</h4>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-4">
                <a href="#">
                    <img alt="Pic" class="mb24" src="img/home4.jpg" />
                </a>
                <a href="#">
                    <h4 class="mb8">Hanging Ten</h4>
                </a>
                <ul class="list-inline mb16">
                    <li>September 25, 2011</li>
                    <li>
                        <a href="#">Craig Garner</a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label">Lifestyle</span>
                        </a>
                    </li>
                </ul>
                <p class="mb0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pharetra eros. Vivamus eu nisi ut dui bibendum ornare vitae a enim. Sed sit amet
                </p>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <img alt="Pic" class="mb24" src="img/home5.jpg" />
                </a>
                <a href="#">
                    <h4 class="mb8">Round The Twist</h4>
                </a>
                <ul class="list-inline mb16">
                    <li>September 21, 2011</li>
                    <li>
                        <a href="#">Craig Garner</a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label">Nostalgia</span>
                        </a>
                    </li>
                </ul>
                <p class="mb0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pharetra eros. Vivamus eu nisi ut dui bibendum ornare vitae a enim. Sed sit amet
                </p>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <img alt="Pic" class="mb24" src="img/home14.jpg" />
                </a>
                <a href="#">
                    <h4 class="mb8">Road Trippin'</h4>
                </a>
                <ul class="list-inline mb16">
                    <li>September 18, 2011</li>
                    <li>
                        <a href="#">Craig Garner</a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label">Lifestyle</span>
                        </a>
                    </li>
                </ul>
                <p class="mb0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pharetra eros. Vivamus eu nisi ut dui bibendum ornare vitae a enim. Sed sit amet
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>


